body {
    font-family: "Comfortaa", cursive;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup-block {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    padding: 17px;
    border-radius: 15px;

    width: 1280px;
    height: 600px;

    background: white;
}

.popup-close {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background: rgba(0, 0, 0, 0.5);
}

.test{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.searches{
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
.searches input{
    width: 900px;
    height: 60px;

    margin-bottom: 60px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 48px;
    line-height: 54px;

    background-color: #db8689;

}
.button{

}
.first_slide {
    width: 100%;
    height: 100vh;

    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
}

.first_slide .desc {
    border-left: 2px solid white;
    padding-left: 10px;
}

.background_slide {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    filter: brightness(0.4);

    background-image: url("./assets/woman-wrapping-christmas-presents-picjumbo-com\ 1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.outer-header {
    width: 100%;
    height: 70px;

    position: fixed;
    top: 0;
    left: 0;

    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 1270px;
    height: 100%;

    /* margin: auto; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    width: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header ul li {
    list-style: none;
    font-size: 16px;
}

.header img {
    height: 50px;
}

.box {
    width: 1270px;
    margin: auto;
}

.box h1 {
    width: 491px;
    height: 160px;

    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;

    color: #ffffff;
}
.box p {
    width: 685px;
    height: 81px;
    /* left: 148px;
    top: 581px; */

    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;

    color: #ffffff;
}

.buttn {
    width: 379px;
    height: 89px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 300px;

    margin: 27px;
    padding: 10px;

    color: #f5f5f5;
    background-color: #db8689;

    /* Убираем лишние обводки */
    border: none;
    outline: none;
}

.buttn:hover {
    transform: scale(1.1);
    transition: 1s;
}

.second_slide {
    width: 100%;
    height: 100%;
    background-color: #000000;
}
.categories h1 {
    width: 445px;
    height: 80px;
    color: #f5f5f5;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
}
.icons-row {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons-row button {
    width: 210px;
    height: 210px;

    margin: auto;

    margin-bottom: 60px;
    border-radius: 50%;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
}

.icons-row button img {
    width: 162px;
    height: 162px;
}

.icons-row button .barbell_logo {
    width: 142px;
    height: 142px;
}

.icons-row button .cap_logo {
    width: 163px;
    height: 163px;
}
.icons-row button .paint-palette_logo {
    width: 140.89px;
    height: 140.89px;
}
.icons-row button .chef_logo {
    width: 163.93px;
    height: 163.93px;
}
.icons-row button .chocolate_logo {
    width: 159.5px;
    height: 159.5px;
}
.icons-row button .can_logo {
    width: 137.34px;
    height: 155.07px;
}
.icons-row button .book_logo {
    width: 140px;
    height: 140px;
}
.icons-row button .balloons_logo {
    width: 150.64px;
    height: 150.64px;
}
.icons-row button .fireplace_logo {
    width: 143.55px;
    height: 143.55px;
}
.icons-row button .poinsettia_logo {
    width: 178.1px;
    height: 178.1px;
}
.icons-row button .wool_logo {
    width: 140px;
    height: 140px;
}
.icons-row .barbell_button {
    border: 5px solid white;
}

.icons-row .cap_button {
    border: 5px solid #f7d360;
}

.icons-row button {
    border: 5px solid white;
}

.icons-row .joystick_button {
    border: 5px solid #53caf9;
}
.icons-row .paint-palette_botton {
    border: 5px solid #fd3c65;
}
.icons-row .chef_botton {
    border: 5px solid white;
}
.icons-row .chocolate_botton {
    border: 5px solid #92563a;
}
.icons-row .can_botton {
    border: 5px solid #f3c52d;
}
.icons-row .book_botton {
    border: 5px solid #00efd1;
}
.icons-row .balloons_botton {
    border: 5px solid #6fe3ff;
}
.icons-row .book_botton {
    border: 5px solid #00efd1;
}
.icons-row .fireplace_botton {
    border: 5px solid #c35f58;
}
.icons-row .poinsettia_botton {
    border: 5px solid #eb8cb3;
}
.icons-row .wool_botton {
    border: 5px solid #c35f58;
}
.icons-row button:hover {
    transform: scale(1.1);
    transition: 1s;
}
.third-slide {
    width: 100%;
    height: 100vh;
    background: #000000;
}
.third-header h1 {
    width: 326px;
    height: 80px;
    color: #f5f5f5;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
}
.third-icons-row {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.third-icons-row button {
    width: 268px;
    height: 264px;
    margin: auto;

    margin-bottom: 60px;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background: none; */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
}
.third-icons-row button:hover {
    transform: scale(1.1);
    transition: 1s;
}
.icon-namber-one {
    background: url(./assets/image-first\ 1.png);
    border: #ffffff 5px solid;
}
.icon-namber-two {
    background: url(./assets/image-second\ 1.png);
    border: #ffffff 5px solid;
}
.icon-namber-three {
    background: url(./assets/image-third\ 1.png);
    border: #ffffff 5px solid;
}
.icon-namber-four {
    background: url(./assets/image-fourth\ 1.png);
    border: #ffffff 5px solid;
}
.reaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reaction p {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    color: wheat;
}
/* .registration{
    background-color: #d41c0e;
} */

@media (max-width: 1140px) {
    .header ul li {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header ul li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header ul li {
        font-size: 12px;
    }

    /* .header img {
            background: red;
    } */
}

@media (max-width: 375px) {
    .header ul li {
        font-size: 5px;
    }
}

@media (max-width: 1140px) {
    .box h1 {
        font-size: 16px;
    }
}
